flows/email_claasifier.json
{
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "simple": false,
        "filters": {},
        "options": {}
      },
      "id": "909122e9-ca9f-48a6-a78e-b1be0654d834",
      "name": "GmailTrigger4",
      "type": "n8n-nodes-base.gmailTrigger",
      "typeVersion": 1,
      "position": [-540, 1340],
      "credentials": {
        "gmailOAuth2": {
          "id": "wEOM7UHhMite5RMh",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "modelName": "models/gemini-2.0-flash",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [480, 1540],
      "id": "6fd5ce87-a947-4a11-bfb4-2c44397073c1",
      "name": "Google Gemini Chat Model4",
      "credentials": {
        "googlePalmApi": {
          "id": "FcoyrrBAEstla8p5",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "operation": "get",
        "messageId": "={{$json.id}}",
        "simple": false,
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [-360, 1340],
      "id": "cc2d6522-6fea-4283-ada2-daa9e5a1f5c8",
      "name": "Get Mail4",
      "webhookId": "7396c7c1-3682-452c-8cd7-9378b6121ff2",
      "credentials": {
        "gmailOAuth2": {
          "id": "wEOM7UHhMite5RMh",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "operation": "addLabels",
        "messageId": "={{ $('Get Mail4').item.json.id }}",
        "labelIds": ["Label_8313733782806021145"]
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [1200, 1300],
      "id": "8c9d6867-4d8a-4ac6-8797-3af24b4e479f",
      "name": "n8n5",
      "webhookId": "672cbc5d-634b-4fd8-9690-cb9091d48237",
      "credentials": {
        "gmailOAuth2": {
          "id": "wEOM7UHhMite5RMh",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "operation": "addLabels",
        "messageId": "={{ $('Get Mail4').item.json.id }}",
        "labelIds": ["Label_5141060722224436222"]
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [1540, 1380],
      "id": "ad0bb488-4442-4929-8e17-5468d27282bd",
      "name": "Voluntariado5",
      "webhookId": "672cbc5d-634b-4fd8-9690-cb9091d48237",
      "credentials": {
        "gmailOAuth2": {
          "id": "wEOM7UHhMite5RMh",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "operation": "addLabels",
        "messageId": "={{ $('Get Mail4').item.json.id }}",
        "labelIds": ["Label_1019265470811267885"]
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [1420, 1360],
      "id": "e0855365-34cc-4eee-9066-335bcb651d53",
      "name": "eventos tech5",
      "webhookId": "672cbc5d-634b-4fd8-9690-cb9091d48237",
      "credentials": {
        "gmailOAuth2": {
          "id": "wEOM7UHhMite5RMh",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "operation": "addLabels",
        "messageId": "={{ $('Get Mail4').item.json.id }}",
        "labelIds": ["Label_5047642296385366054"]
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [1380, 1420],
      "id": "4707a68d-80f8-438c-8e2a-8264411813f7",
      "name": "cursos5",
      "webhookId": "672cbc5d-634b-4fd8-9690-cb9091d48237",
      "credentials": {
        "gmailOAuth2": {
          "id": "wEOM7UHhMite5RMh",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "operation": "addLabels",
        "messageId": "={{ $('Get Mail4').item.json.id }}",
        "labelIds": ["Label_4251077481646509784"]
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [940, 1280],
      "id": "6fba2da8-f221-4931-ad7b-b90d5d5d25f2",
      "name": "Prueba tecnica5",
      "webhookId": "672cbc5d-634b-4fd8-9690-cb9091d48237",
      "credentials": {
        "gmailOAuth2": {
          "id": "wEOM7UHhMite5RMh",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "operation": "addLabels",
        "messageId": "={{ $('Get Mail4').item.json.id }}",
        "labelIds": ["Label_4395206203694279265"]
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [1060, 1300],
      "id": "fabd98ca-4984-4945-8253-2861f7946778",
      "name": "Entrevista5",
      "webhookId": "672cbc5d-634b-4fd8-9690-cb9091d48237",
      "credentials": {
        "gmailOAuth2": {
          "id": "wEOM7UHhMite5RMh",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGroq",
      "typeVersion": 1,
      "position": [120, 1600],
      "id": "9a56d823-1c4f-4796-85bf-e1e4b8fafa6b",
      "name": "Groq Chat Model4",
      "credentials": {
        "groqApi": {
          "id": "DnjpAnK4OE2YxV5M",
          "name": "Groq account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.fullSummary }}",
        "options": {
          "systemMessage": "=# System Prompt PERFECTO - RESUMEN GENERATOR\n\n```\nResponde solo el contenido nunca esto: (Resumen del correo, ok aqui esta tu resumen, analisis)\n\nPRIMERO: Analiza si el correo es específicamente sobre alguna de estas categorías laborales:\n- Entrevista laboral (invitación, coordinación de entrevistas, ofertas de trabajo, contratación, onboarding)\n- Prueba laboral (evaluaciones técnicas, pruebas técnicas, challenges, o cualquier solicitud de demostración de habilidades para un proceso de selección)\n\nINSTRUCCIONES PARA CLASIFICACIÓN LABORAL:\n\nIndicadores para detectar el tipo de clsaificacion laboral\n\nPRUEBA TÉCNICA - Buscar estas palabras clave:\n\"prueba técnica\", \"evaluación técnica\", \"test técnico\",\"código\", \"desarrollo\",\"programación\",\"repository\",\"plazo\", \"entregar\", \"completar\", \"enviar\",\"GitHub\", \"código fuente\", \"proyecto\"\n\nENTREVISTA LABORAL - Buscar estas palabras clave:\n\"entrevista\", \"reunión\", \"cita\", \"meeting\",\"fecha\", \"hora\", \"calendario\", \"agendar\",\"conocer\", \"conversar\", \"presentar\",\"Zoom\", \"Meet\", \"Teams\", \"presencial\", \"oficina\"\n\nClasificacion laboral incluye:\n```\n**Si detectas que es una PRUEBA TÉCNICA/LABORAL:**\n- [TIPO_PROCESO] = \"PRUEBA TÉCNICA SOLICITADA\"\n- [DESCRIPCION_PROCESO] = \"Evaluación técnica para puesto de trabajo\"\n- [TIEMPO_INFO] = \"Plazo\"\n- [VALOR_TIEMPO] = Extrae el plazo mencionado para completar la evaluación\n- [MODALIDAD] = Identifica si es online, por email, plataforma específica, etc.\n- [EMPRESA] = Nombre de la empresa que solicita la prueba\n- [DETALLES_TIPO] = \"Detalles de la prueba técnica\"\n- [DETALLES_CONTENIDO] = Resumen conciso de qué debe hacer en la prueba\n- [ACCION_REQUERIDA] = \"Completar prueba técnica\"\n\n**Si detectas que es una ENTREVISTA LABORAL:**\n- [TIPO_PROCESO] = \"ENTREVISTA LABORAL PROGRAMADA\"\n- [DESCRIPCION_PROCESO] = \"Proceso de selección - Entrevista para puesto\"\n- [TIEMPO_INFO] = \"Fecha/Hora\"\n- [VALOR_TIEMPO] = Extrae la fecha y hora específica de la entrevista\n- [MODALIDAD] = Identifica si es presencial, remoto, por videollamada, plataforma, etc.\n- [EMPRESA] = Nombre de la empresa o entrevistador\n- [DETALLES_TIPO] = \"Detalles de la entrevista\"\n- [DETALLES_CONTENIDO] = Resumen de qué tipo de entrevista es y qué esperar\n- [ACCION_REQUERIDA] = \"Confirmar asistencia a entrevista\"\n\nREGLAS IMPORTANTES:\n- Mantén EXACTAMENTE el formato con emojis y estructura\n- Si no encuentras información específica, usa \"[No especificado]\"\n- Sé conciso pero informativo en los detalles\n- Identifica correctamente el tipo de proceso antes de generar el resumen\n- Los corchetes [] son solo para explicar, en el resultado final no los uses\n```\n\nSI el correo pertenece a una de estas categorías laborales, genera un resumen usando estas palabras clave específicas:\n\n**Prueba laboral** o **Entrevista laboral**:\n📨 **[TIPO_PROCESO]**\n🔧 **[DESCRIPCION_PROCESO]**\n⏰ **[TIEMPO_INFO]:** [VALOR_TIEMPO]\n📍 **Modalidad:** [MODALIDAD]\n🏢 **Empresa/Reclutador:** [EMPRESA]\n📋 **[DETALLES_TIPO]:** [DETALLES_CONTENIDO]\n⚠️ **Acción requerida:** [ACCION_REQUERIDA]\n\nSi el correo NO es sobre procesos laborales (entrevistas o pruebas), entonces clasifícalo según estas otras categorías y usa estas palabras clave:\n\n**Para N8N:**\n```\n🔧 **AUTOMATIZACIÓN N8N**\n⚙️ **Workflow - Integración - Nodos**\n📋 **Contenido:** [resumen sobre n8n, automatización, flujos de trabajo]\n```\n\n**Para CURSOS/APRENDIZAJE:**\n```\n📚 **CURSO - CERTIFICACIÓN - APRENDIZAJE**\n🎓 **Capacitación técnica - Tutorial - Bootcamp**\n📋 **Contenido:** [resumen sobre educación/formación]\n```\n\n**Para EVENTOS TECH:**\n```\n🎯 **EVENTO TECNOLÓGICO - MEETUP**\n🌐 **Networking - Workshop - Conferencia tech**\n📋 **Contenido:** [resumen sobre evento/meetup/charla]\n```\n\n**Para VOLUNTARIADO:**\n```\n🤝 **VOLUNTARIADO TECNOLÓGICO**  \n💝 **Proyecto social - Comunidad - Tech for good**\n📋 **Contenido:** [resumen sobre oportunidad de voluntariado]\n```\n\nEJEMPLOS DE SALIDA ESPERADA PARA ENTREVISTA LABORAL O PRUEBA TECNICA:\n\nEjemplo 1 - Prueba Técnica:\n📨 **PRUEBA TÉCNICA SOLICITADA**\n🔧 **Evaluación técnica para puesto de trabajo**\n⏰ **Plazo:** 5 días para completar la evaluación\n📍 **Modalidad:** Online via repositorio GitHub\n🏢 **Empresa/Reclutador:** InnovaTech Solutions\n📋 **Detalles de la prueba técnica:** Desarrollar API REST con autenticación JWT y documentación Swagger\n⚠️ **Acción requerida:** Completar prueba técnica\n\nEjemplo 2 - Entrevista Laboral:\n📨 **ENTREVISTA LABORAL PROGRAMADA**\n🔧 **Proceso de selección - Entrevista para puesto**\n⏰ **Fecha/Hora:** Viernes 28 de Junio, 15:30 hrs\n📍 **Modalidad:** Videollamada por Zoom\n🏢 **Empresa/Reclutador:** Consultora TalentHub - Ana García\n📋 **Detalles de la entrevista:** Primera entrevista técnica con el equipo de desarrollo backend\n⚠️ **Acción requerida:** Confirmar asistencia a entrevista\n\n\n\nSi NO coincide con ninguna categoría anterior, responde EXACTAMENTE:\n\"Este correo no corresponde a ninguna categoría específica.\"\n```"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.8,
      "position": [140, 1340],
      "id": "6496912f-7d6a-43cd-a9f6-573f305c5988",
      "name": "ResumeGenerator5"
    },
    {
      "parameters": {
        "amount": 1
      },
      "id": "22a5508b-0b62-4a28-adfc-db9b6c21e172",
      "name": "await 1 sec4",
      "type": "n8n-nodes-base.wait",
      "position": [-200, 1340],
      "webhookId": "2066b863-4526-40cf-90aa-82229895a73c",
      "typeVersion": 1.1
    },
    {
      "parameters": {
        "jsCode": "const cleanContent = (content) => {\n  if (!content) return \"\";\n\n  return content\n    .replace(\n      /<style[\\s\\S]*?<\\/style>|<script[\\s\\S]*?<\\/script>|<!--[\\s\\S]*?-->|<[^>]+>/gi,\n      \" \"\n    )\n    .replace(/\\s+/g, \" \")\n    .replace(/(?:https?|ftp):\\/\\/[\\n\\S]+/gi, \" \")\n    .replace(/[\\u{1F600}-\\u{1F6FF}]/gu, \" \")\n    .trim()\n    .substring(0, 1000);\n};\n\nconst isSpamJobs = (content, subject) => {\n  const contentPatternsSpam = [\n    // Patrones numéricos de ofertas\n    /\\d+\\s*(nuevas?|oportunidades?|ofertas?|vacantes?|puestos?)\\s*(laborales?|de empleo|disponibles?)/i,\n    /\\d+\\s*new jobs?\\s*(in|matches|for|available)/i,\n\n    // Frases comunes en alertas\n    /job alert/i,\n    /alerta de empleo/i,\n    /alertas? (laboral|de trabajo)/i,\n    /(seleccionamos|encontramos|encontr[oó])\\s*para\\s*ti/i,\n    /matches your (profile|preferences)/i,\n    /(reactivate|activate|mejora)\\s*(tu|your)?\\s*(alerta|premium)/i,\n    /your job alert for/i,\n    /empresas que están buscando nuevos talentos/i,\n    /si (las vacantes|este puesto) encaja(n)? contigo/i,\n    /aplica (hoy mismo|ahora)/i,\n    /(mejora|actualiza) tu (alerta|búsqueda)/i,\n    /(eliminar|cancelar|dejar de recibir)\\s*(esta|las)?\\s*alertas?/i,\n    /(ver|revisa|consulta) (este|los) (trabajo|empleo|puesto)s?/i,\n    /(últimos|nuevos) (proyectos|concursos) que coinciden/i,\n\n    // Plataformas específicas\n    /(computrabajo|jooble|glassdoor|indeed|bebee|freelancer)/i,\n\n    // Ofertas genéricas\n    /(ofertas? de empleo|trabajos? disponibles)/i,\n    /puestos? disponibles de/i,\n    /(coinciden|match) con tu (perfil|alert)/i,\n    /estos (anuncios|puestos) (coinciden|son para)/i,\n\n    // Invitaciones a acción\n    /postúlate (rápidamente|ahora)/i,\n    /ver (todos|ofertas)/i,\n    /(click|ver|visita) (aquí|para más)/i,\n\n    // Footer típico\n    /pol[ií]tica de privacidad/i,\n    /términos y condiciones/i,\n    /cancelar suscripción/i,\n  ];\n\n  const subjectPatterns = [\n    /(alertas?|ofertas?) (de empleo|laborales)/i,\n    /job alert/i,\n    /nuev(a|o)s? (oportunidades|puestos)/i,\n    /trabajos para ti/i,\n    /(coincidencias|matches) para tu perfil/i,\n  ];\n\n  // Verificar patrones en el contenido\n  const contentCheck = contentPatternsSpam.some((pattern) =>\n    pattern.test(content)\n  );\n\n  // Verificar patrones en el asunto\n  const subjectCheck = subjectPatterns.some((pattern) => pattern.test(subject));\n\n  // Detectar muchos números (ofertas masivas)\n  const manyOpportunities = content.match(\n    /(\\d+)\\s*(nuevas?|oportunidades?|ofertas?|jobs?|puestos?)/gi\n  );\n  const highVolumeCheck =\n    manyOpportunities &&\n    manyOpportunities.some((match) => parseInt(match.replace(/\\D/g, \"\")) >= 3);\n\n  // Detectar listados de trabajos\n  const jobListingsCheck =\n    content.match(/(puesto|trabajo|empleo):?.+\\n.+\\n.+\\$/gi)?.length >= 2;\n\n  // Detectar footers típicos de plataformas\n  const platformFooterCheck = [\n    /indeed\\.com/i,\n    /glassdoor\\.com/i,\n    /computrabajo\\.com/i,\n    /jooble\\.org/i,\n    /freelancer\\.com/i,\n    /bebee\\.com/i,\n  ].some((pattern) => pattern.test(content));\n\n  return (\n    contentCheck ||\n    subjectCheck ||\n    highVolumeCheck ||\n    jobListingsCheck ||\n    platformFooterCheck\n  );\n};\n\nconst iterador = (item) => {\n  const metadata = {\n    from: item.json?.from?.value?.[0]?.name || \"Desconocido\",\n    fromEmail: item.json?.from?.value?.[0]?.address || \"\",\n    to: item.json?.to?.value?.[0]?.address || \"\",\n    subject: item.json?.subject || \"\",\n    date: item.json?.date\n      ? new Date(item.json.date).toLocaleDateString(\"es-CL\", {\n          day: \"numeric\",\n          month: \"numeric\",\n          year: \"numeric\",\n          hour: \"2-digit\",\n          minute: \"2-digit\",\n        })\n      : \"Fecha no disponible\",\n    messageId: item.json?.messageId || \"\",\n  };\n\n  const bodyContent = {\n    html: item.json?.html || \"\",\n    text: item.json?.text || \"\",\n    cleanText: cleanContent(item.json?.text || item.json?.html || \"\"),\n  };\n  const isSpam = isSpamJobs(bodyContent.cleanText, metadata.subject);\n\n  const keyElements = {\n    oportunidades:\n      (bodyContent.cleanText.match(\n        /(\\d+)\\s*(nuevas?|oportunidades?|ofertas?)/i\n      ) || [])[1] || \"No especificado\",\n    puesto:\n      (bodyContent.cleanText.match(\n        /(puesto|rol|posición)(?: de |:\\s*)([\\w\\sáéíóúñ]+)/i\n      ) || [])[2] || \"No especificado\",\n    ubicacion:\n      (bodyContent.cleanText.match(/(en |ubicación:?)\\s*([\\w\\sáéíóúñ.,-]+)/i) ||\n        [])[2] || \"No especificada\",\n    empresas:\n      (bodyContent.cleanText.match(\n        /(?:empresas?|companías?):?\\s*([^.:!?]+)/i\n      ) || [])[1] || \"No especificadas\",\n    urls: [\n      ...new Set([\n        ...(bodyContent.html.match(/https?:\\/\\/[^\\s\"'<>]+/g) || []),\n        ...(bodyContent.text.match(/https?:\\/\\/[^\\s]+/g) || []),\n      ]),\n    ].filter(\n      (url) =>\n        !url.match(/\\.(png|jpg|jpeg|gif|webp|css|js)\\b/i) &&\n        !url.includes(\"unsubscribe\")\n    ),\n  };\n\n  const emailType = isSpam\n    ? \"Alerta de Spam\"\n    : bodyContent.cleanText.includes(\"oportunidad\")\n    ? \"Oportunidad Laboral\"\n    : bodyContent.cleanText.includes(\"notificación\")\n    ? \"Notificación\"\n    : bodyContent.cleanText.includes(\"confirmación\")\n    ? \"Confirmación\"\n    : \"General\";\n\n  const sections = [\n    `📨 Tipo: ${emailType}`,\n    `📅 Fecha: ${metadata.date}`,\n    `👤 Remitente: ${metadata.from} <${metadata.fromEmail}>`,\n    metadata.subject && `📌 Asunto: ${metadata.subject}`,\n    keyElements.oportunidades !== \"No especificado\" &&\n      `🔢 Oportunidades: ${keyElements.oportunidades}`,\n    keyElements.puesto !== \"No especificado\" &&\n      `💼 Puesto: ${keyElements.puesto}`,\n    keyElements.ubicacion !== \"No especificada\" &&\n      `📍 Ubicación: ${keyElements.ubicacion}`,\n    keyElements.empresas !== \"No especificadas\" &&\n      `🏢 Empresas: ${keyElements.empresas}`,\n    keyElements.urls.length > 0 &&\n      `🔗 Enlaces relevantes:\\n${keyElements.urls.slice(0, 3).join(\"\\n\")}`,\n    `📝 Contenido resumido:\\n${bodyContent.cleanText.substring(0, 300)}...`,\n  ]\n    .filter(Boolean)\n    .join(\"\\n\\n\");\n\n  const res = {\n    metadata,\n    contentSummary: {\n      characters: bodyContent.cleanText.length,\n      words: bodyContent.cleanText.split(/\\s+/).length,\n      detectedElements: Object.keys(keyElements).filter(\n        (k) => keyElements[k] !== \"No especificado\"\n      ),\n    },\n    extractedData: keyElements,\n    fullSummary: sections,\n  };\n  return res;\n};\nconst extractEmailData = (item) => iterador(item);\nconst plainText = items.map(extractEmailData);\nreturn plainText;\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [-40, 1340],
      "id": "f92ef663-5bd5-42f9-b6a6-27d37bbe5e75",
      "name": "SimplifyJson4"
    },
    {
      "parameters": {
        "phoneNumberId": "590246180842883",
        "recipientPhoneNumber": "+56 9 7464 6583",
        "template": "entrevista_o_prueba_laboral|es_CL",
        "components": {
          "component": [
            {
              "bodyParameters": {
                "parameter": [
                  {
                    "text": "={{ $json.components[0].parameters[0].text }}"
                  },
                  {
                    "text": "={{ $json.components[0].parameters[1].text }}"
                  },
                  {
                    "text": "={{ $json.components[0].parameters[2].text }}"
                  },
                  {
                    "text": "={{ $json.components[0].parameters[3].text }}"
                  },
                  {
                    "text": "={{ $json.components[0].parameters[4].text }}"
                  },
                  {
                    "text": "={{ $json.components[0].parameters[5].text }}"
                  },
                  {
                    "text": "={{ $json.components[0].parameters[6].text }}"
                  },
                  {
                    "text": "={{ $json.components[0].parameters[7].text }}"
                  },
                  {
                    "text": "={{ $json.components[0].parameters[8].text }}"
                  }
                ]
              }
            }
          ]
        }
      },
      "type": "n8n-nodes-base.whatsApp",
      "typeVersion": 1,
      "position": [1320, 1080],
      "id": "f6fdc2be-c92b-4638-bad3-184ebb12f096",
      "name": "WhatsApp Business Cloud4",
      "webhookId": "5eedadbc-1c0f-47df-a322-0b3f26264379",
      "credentials": {
        "whatsAppApi": {
          "id": "LBCxcqNpB86yNbGk",
          "name": "WhatsApp account"
        }
      }
    },
    {
      "parameters": {
        "inputText": "={{ $json.output }}",
        "categories": {
          "categories": [
            {
              "category": "."
            },
            {
              "category": "Pruebas",
              "description": "SOLO evaluaciones técnicas formales como parte de procesos de selección laboral. DEBE contener: instrucciones para resolver problemas técnicos específicos, mención explícita de evaluación para un puesto, contexto claro de proceso de selección, plazo de entrega definido. Keywords específicos al contexto laboral: 'prueba técnica para el puesto', 'evaluación para la posición', 'ejercicio de selección', 'código solicitado para la vacante', 'challenge como parte del proceso', 'resolución del problema adjunto', 'tiempo establecido para la prueba', 'etapa técnica del proceso', 'enviar solución antes del', 'evaluación de habilidades técnicas'"
            },
            {
              "category": "Entrevistas",
              "description": "SOLO comunicaciones relacionadas con entrevistas de trabajo. DEBE mencionar explícitamente: Postulación, coordinación de entrevista laboral,postulación, fecha y hora específicas para un encuentro con reclutadores/empleadores, plataforma para realizar la entrevista. Keywords específicos a entrevistas laborales: 'entrevista para el puesto', 'entrevista técnica', 'coordinar reunión para el proceso', 'link para la entrevista', 'confirmación de entrevista', 'agenda para entrevista', 'proceso de selección', 'reclutador te invita', 'siguiente fase de entrevistas', 'conversación con el equipo de', 'invitación formal para entrevista'"
            },
            {
              "category": "n8n things",
              "description": "correos sobre n8n. Keywords: automatización, workflow, integración, n8n, flujo de trabajo, nodo, trigger, acción, API, conexión, configuración"
            },
            {
              "category": "Aprendizaje",
              "description": "Cursos, certificaciones y contenido educativo. EXCLUIR si menciona pruebas en contexto laboral. Keywords: curso, certificación, tutorial, aprendizaje, capacitación, bootcamp, taller online, masterclass, webinar educativo, especialización"
            },
            {
              "category": "Eventos Tech",
              "description": "Eventos locales en Arica/Santiago/Chile/Remotos. Palabras clave: meetup, charla, workshop, networking. Keyword: meetup, charla, workshop, networking, conferencia, evento tech, hackathon, demo day, pitch, presentación, summit, congreso tecnológico"
            },
            {
              "category": "Voluntariado",
              "description": "Oportunidades de colaboración social con tecnología. Keywords: voluntario, social, comunidad, impacto, ayuda, proyecto social, sin fines de lucro, ONG, colaboración, participación, tech for good, transformación social"
            },
            {
              "category": "Productos y Servicios",
              "description": "Anuncios, actualizaciones o pruebas de productos y servicios. NO confundir con pruebas laborales. Keywords: nueva función, actualización, versión beta, probar características, testing, feedback, experimentar, lanzamiento, feature, producto, servicio, plataforma, suscripción, mejoras, usuarios, prueba de producto"
            }
          ]
        },
        "options": {}
      },
      "id": "30185f3b-8b3a-4cb7-aea9-b7237d5c5476",
      "name": "ClassifyResume4",
      "type": "@n8n/n8n-nodes-langchain.textClassifier",
      "typeVersion": 1,
      "position": [460, 1340]
    },
    {
      "parameters": {
        "jsCode": "const cleanText = (t) => t.replace(/\\*\\*/g, '').trim();\n\nconst raw = $('ResumeGenerator5').first().json.output || '';\nconst lines = raw.split('\\n');\nwhile (lines.length < 7) lines.push('');\n\nconst values = [\n  cleanText(lines[0]) || 'No info',\n  cleanText(lines[1].replace(/^🔧\\s*/, '')) || 'No info',\n  (lines[2].match(/⏰\\s*\\*\\*(.*?):\\*\\*/)?.[1] || 'No info').trim(),\n  (lines[2].split('**:')[1] || 'No info').replace('.', '').trim(),\n  (lines[3].split(':')[1] || 'No info').trim(),\n  (lines[4].split(':')[1] || 'No info').trim(),\n  (lines[5].match(/📋\\s*\\*\\*(.*?):\\*\\*/)?.[1] || 'No info').trim(),\n  (lines[5].split('**:')[1] || 'No info').replace('.', '').trim(),\n  (lines[6].split(':')[1] || 'No info').trim(),\n];\n\nconst parameters = values.map(v => ({ type: 'text', text: v }));\n\nreturn [\n  {\n    json: {\n      components: [\n        {\n          type: 'body',\n          parameters,\n        },\n      ],\n    },\n  },\n];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1160, 1080],
      "id": "9063f682-8ea3-4494-8d31-e0c03edcbf05",
      "name": "Code"
    }
  ],
  "connections": {
    "GmailTrigger4": {
      "main": [
        [
          {
            "node": "Get Mail4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model4": {
      "ai_languageModel": [
        [
          {
            "node": "ClassifyResume4",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Get Mail4": {
      "main": [
        [
          {
            "node": "await 1 sec4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prueba tecnica5": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Entrevista5": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Groq Chat Model4": {
      "ai_languageModel": [
        [
          {
            "node": "ResumeGenerator5",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "ResumeGenerator5": {
      "main": [
        [
          {
            "node": "ClassifyResume4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "await 1 sec4": {
      "main": [
        [
          {
            "node": "SimplifyJson4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SimplifyJson4": {
      "main": [
        [
          {
            "node": "ResumeGenerator5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ClassifyResume4": {
      "main": [
        [],
        [
          {
            "node": "Prueba tecnica5",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Entrevista5",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "n8n5",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "cursos5",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "eventos tech5",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Voluntariado5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code": {
      "main": [
        [
          {
            "node": "WhatsApp Business Cloud4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "3f55899d61e9f0757f5fd34228c134c51356103eb4b39eee4e2a1670e5072098"
  }
}
