flows/nutricionista.json
{
  "name": "salud",
  "nodes": [
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "c643aea9-ae54-4f9b-8c12-846902330d0f",
              "leftValue": "={{ $json.response }}",
              "rightValue": "true",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -1744,
        3888
      ],
      "id": "749ae3c3-9cdb-483e-914a-b63c7ace83ca",
      "name": "If"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGroq",
      "typeVersion": 1,
      "position": [
        -784,
        4064
      ],
      "id": "f2553514-8ea1-48d5-922e-85c9447eea40",
      "name": "Groq Chat Model",
      "credentials": {
        "groqApi": {
          "id": "DnjpAnK4OE2YxV5M",
          "name": "Groq account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const input = $input.first().json.message.text;\n\nconst allowedCreate = $input.first().json.message.from.first_name === \"Freddy M\";\nconst textFound= input.toLowerCase().includes('hoy');;\n\nconst response= allowedCreate && textFound ? true : false;\nreturn [{response}];\n"
      },
      "id": "ffb7b3d1-80e6-48cf-b98c-79eb3ffbb2a1",
      "name": "valida es consumo",
      "type": "n8n-nodes-base.code",
      "position": [
        -1920,
        3888
      ],
      "typeVersion": 2
    },
    {
      "parameters": {
        "resource": "fileFolder",
        "queryString": "={{ $json.newName }}",
        "returnAll": true,
        "filter": {},
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -1120,
        3888
      ],
      "id": "26a7bf65-8ea6-45b1-8f8c-a7f2dac087fd",
      "name": "Google Drive1",
      "alwaysOutputData": true,
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "ufB7m5y0TrfIhP3I",
          "name": "Google Drive account"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.dateTime",
      "typeVersion": 2,
      "position": [
        -1584,
        3808
      ],
      "id": "afa2f966-bc49-4e7e-9597-f34f8441d23f",
      "name": "Date & Time2"
    },
    {
      "parameters": {
        "operation": "formatDate",
        "date": "={{ $json.currentDate }}",
        "format": "custom",
        "customFormat": "MM-dd",
        "outputFieldName": "formattedCurrentDate",
        "options": {}
      },
      "type": "n8n-nodes-base.dateTime",
      "typeVersion": 2,
      "position": [
        -1424,
        3888
      ],
      "id": "83cb8f43-8d6f-46d2-9561-5c2ba90133a3",
      "name": "Date & Time3"
    },
    {
      "parameters": {
        "operation": "deleteFile",
        "fileId": {
          "__rl": true,
          "value": "={{ $json.id }}",
          "mode": "id"
        },
        "options": {
          "deletePermanently": true
        }
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -976,
        3888
      ],
      "id": "7ac3ecb0-25f0-4d88-9f03-55562c0040fb",
      "name": "Google Drive2",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "ufB7m5y0TrfIhP3I",
          "name": "Google Drive account"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "operation": "createFromText",
        "content": "={{ $json.output }}",
        "name": "={{ $('formatted data').item.json.newName }}",
        "driveId": {
          "__rl": true,
          "mode": "list",
          "value": "My Drive"
        },
        "folderId": {
          "__rl": true,
          "value": "1g6137bE_8CT5KiENjQlmsmNta5D3mKm9",
          "mode": "list",
          "cachedResultName": "consumo",
          "cachedResultUrl": "https://drive.google.com/drive/folders/1g6137bE_8CT5KiENjQlmsmNta5D3mKm9"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -480,
        3888
      ],
      "id": "dcb968e5-df06-473b-b316-f784a585e014",
      "name": "Google Drive5",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "ufB7m5y0TrfIhP3I",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "return {\n  newName:$input.first().json.formattedCurrentDate+\"-consumo-file\",\n  data: $('Agrega Consumo diario')?.first()?.json?.message?.text\n       }\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1264,
        3888
      ],
      "id": "93959662-650c-4ac1-bd36-a7a51fb1efc9",
      "name": "formatted data"
    },
    {
      "parameters": {
        "chatId": "-4965798372",
        "text": "=Agregado!",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        -304,
        3888
      ],
      "id": "41cb8666-cf53-4d88-8f50-c60d3e8575ef",
      "name": "Archivo Agregado",
      "webhookId": "c7a159c6-2782-4683-b170-9060815d6b01",
      "alwaysOutputData": false,
      "retryOnFail": true,
      "waitBetweenTries": 2000,
      "credentials": {
        "telegramApi": {
          "id": "CBOywzpBdmg2u1Nn",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "resource": "fileFolder",
        "queryString": "-consumo-file",
        "limit": 7,
        "filter": {
          "includeTrashed": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -1920,
        4432
      ],
      "id": "ff6a107e-3447-418d-9513-a1affdbba86c",
      "name": "Google Drive",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "ufB7m5y0TrfIhP3I",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $json.id }}",
          "mode": "id"
        },
        "options": {
          "googleFileConversion": {
            "conversion": {
              "docsToFormat": "text/plain"
            }
          }
        }
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -1760,
        4432
      ],
      "id": "0bdde5e9-034c-4f16-b47d-05b0e131c787",
      "name": "Google Drive6",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "ufB7m5y0TrfIhP3I",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const newItems = [];\n\nfor (const item of $input.all()) {\n  // Verificar si tenemos datos binarios\n  const binaryPropertyName = Object.keys(item.binary || {})[0];\n  \n  if (!binaryPropertyName) {\n    // No hay datos binarios\n    newItems.push({\n      json: {\n        name: item.json.name,\n        id: item.json.id,\n        content: \"[No hay datos binarios disponibles]\",\n        mimeType: item.json.mimeType\n      }\n    });\n    continue;\n  }\n  \n  try {\n    // Intentar convertir los datos binarios a texto\n    const binary = item.binary[binaryPropertyName];\n    const content = Buffer.from(binary.data, 'base64').toString('utf-8');\n    \n    newItems.push({\n      json: {\n        name: item.json.name,\n        id: item.json.id,\n        mimeType: item.json.mimeType,\n        content: content\n      }\n    });\n  } catch (error) {\n    // Si hay error, agregar información de diagnóstico\n    newItems.push({\n      json: {\n        name: item.json.name,\n        id: item.json.id,\n        mimeType: item.json.mimeType,\n        content: \"[Error: \" + error.message + \"]\"\n      }\n    });\n  }\n}\n\nreturn {output:newItems};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1584,
        4432
      ],
      "id": "cbb4d6a2-7a5d-44a8-a9cf-501d25f3f356",
      "name": "Code"
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "weeks",
              "triggerAtDay": [
                6
              ],
              "triggerAtHour": 7
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -2080,
        4432
      ],
      "id": "a06e2bfc-f6c7-4193-b7a8-dfa6f39cad20",
      "name": "nutricionista semanal",
      "notesInFlow": false,
      "notes": "\n# HORARIO DE REMEDIOS\n\n## Celecoxib\n- 9 PM\n\n## Aspirina\n- 12 PM (medio dia)\n\n## Paracetamol\n- 06:00 am\n- 14:00 pm\n- 22:00 pm\n\n## Amoxicilina\n- 06:00 am\n- 14:00 pm\n- 22:00 pm\n\n## Otros medicamentos\n- 22:00 pm[Losartan] 1 vez antes de dormir\n- 22:00 pm [Puff asma] antes de dormir"
    },
    {
      "parameters": {
        "chatId": "-4965798372",
        "text": "={{ $('Nutricionista').item.json.output }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        -864,
        4240
      ],
      "id": "00364b1b-df53-4f8b-9b04-7d155e7f831d",
      "name": "Mensaje Telegram",
      "webhookId": "c7a159c6-2782-4683-b170-9060815d6b01",
      "alwaysOutputData": false,
      "retryOnFail": true,
      "waitBetweenTries": 2000,
      "credentials": {
        "telegramApi": {
          "id": "CBOywzpBdmg2u1Nn",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "batchSize": "={{ $('Code').item.json.output.length }}",
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        -1056,
        4432
      ],
      "id": "81aef826-6501-4178-b002-2e7b9e9d4053",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "jsCode": "// return $('Google Drive').first();\nreturn $('Google Drive').all();"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -864,
        4432
      ],
      "id": "39284517-42c1-4300-ba89-5aae7ecad55f",
      "name": "Code1"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGroq",
      "typeVersion": 1,
      "position": [
        -1424,
        4624
      ],
      "id": "4e5c37e8-e5ce-416b-9c05-d7002a5fbf92",
      "name": "Groq Chat Model4",
      "credentials": {
        "groqApi": {
          "id": "DnjpAnK4OE2YxV5M",
          "name": "Groq account"
        }
      }
    },
    {
      "parameters": {
        "operation": "deleteFile",
        "fileId": {
          "__rl": true,
          "value": "={{ $json.id }}",
          "mode": "id"
        },
        "options": {
          "deletePermanently": true
        }
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -688,
        4432
      ],
      "id": "b8badde5-0cb1-496a-9b92-c24915543e16",
      "name": "Limpiar archivos semanales",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "ufB7m5y0TrfIhP3I",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=inventario usado el dia de hoy: {{ $('formatted data').item.json.data }}",
        "options": {
          "systemMessage": "```\nConvierte registros diarios de alimentos en un resumen nutricional claro, útil para monitoreo médico, educación nutricional y seguimiento personal. Este resumen está optimizado para Freddy Huaylla (32 años, desarrollador web, IMC 30%) con tendencia a somnolencia tras comidas pesadas al mediodía.\n\n---\n\n🔹 OBJETIVO:\n\n- Identificar combinaciones de alimentos que sacien el apetito sin sobrepasar 1500 kcal diarias (ej: plátano + nueces).\n- Maximizar energía mental, claridad emocional y rendimiento cognitivo.\n- Cuidar articulaciones, sistema nervioso, cerebro y metabolismo.\n- Aplicar principios de dieta 3x1 y sistema nervioso excitado según el enfoque natural de Frank Suárez.\n- Brindar orientación educativa final sobre hábitos saludables y elección alimentaria.\n\n---\n\n🔹 FORMATO DE SALIDA (obligatorio):\n\njson\n{\n  \"resumen_diario\": {\n    \"fecha\": \"YYYY-MM-DD\",\n    \"grupos_alimenticios\": {\n      \"Vegetales\": [],\n      \"Lácteos\": [],\n      \"Frutas\": [],\n      \"Proteínas\": [],\n      \"Suplementos\": [],\n      \"Otros\": []\n    },\n    \"nutrientes_destacados\": {\n      \"Proteína\": {\"alimentos\": [], \"total\": \"Xg\"},\n      \"Calcio\": {\"alimentos\": [], \"total\": \"Xmg\"},\n      \"Omega-3\": {\"alimentos\": [], \"total\": \"Xg\"},\n      \"Vitamina D\": {\"alimentos\": []},\n      \"Vitamina K2\": {\"alimentos\": []},\n      \"Vitamina Magnesio\": {\"alimentos\": []},\n      \"Vitamina Colina\": {\"alimentos\": []},\n      \"Vitamina B12 + Complejo B\": {\"alimentos\": []},\n      \"Vitamina Colágeno\": {\"alimentos\": []},\n      \"Vitamina Zinc\": {\"alimentos\": []},\n      \"Vitamina Selenio\": {\"alimentos\": []}\n    },\n    \"impacto_funcional\": {\n      \"nivel_energia\": \"alta | media | baja\",\n      \"claridad_mental\": \"óptima | algo afectada | deficiente\",\n      \"saciedad_sin_exceso\": \"sí | no | parcialmente\",\n      \"observaciones\": \"Texto breve sobre si esta comida ayuda a mantener energía sin somnolencia\"\n    },\n    \"calorias_aproximadas\": {\n      \"total\": \"X kcal\",\n      \"desglose\": {\n        \"desayuno\": \"X kcal\",\n        \"almuerzo\": \"X kcal\",\n        \"cena\": \"X kcal\",\n        \"snacks\": \"X kcal\"\n      },\n      \"balance_objetivo\": \"X% del objetivo diario (1500 kcal)\"\n    },\n    \"educacion_nutricional\": \"Frase clara que ayude a entender qué mejorar o repetir según el día\"\n  }\n}\n\n---\n\n🔹 INSTRUCCIONES DE CONVERSIÓN:\n\n1. Clasifica cada alimento en su grupo.\n2. Identifica nutrientes clave para cerebro, articulaciones, metabolismo y sistema nervioso.\n3. Usa nombres comunes (ej: \"Huevo\", \"Pescado azul\", \"Yogur natural\").\n4. Usa cantidades prácticas (ej: 1 taza, 2 cdas, 1 filete).\n5. Usa fecha en formato **YYYY-MM-DD**.\n6. En almuerzo o mediodía, **marca si hay riesgo de somnolencia (alimentos tipo E: arroz, pan, pasta, harinas)**.\n7. Registra suplementos si se mencionan.\n8. No omitas nutrientes clave: Magnesio, Colina, D3, K2, B12, etc.\n9. En `impacto_funcional`, haz inferencias simples según combinación de alimentos.\n10. Calcula las calorías aproximadas por comida y el total diario basándote en porciones estándar.\n11. En `calorias_aproximadas`, incluye el porcentaje respecto al objetivo diario de 1500 kcal.\n12. En `educacion_nutricional`, ofrece una mini-lección útil (ej: \"Agregar vegetales mejora saciedad sin calorías\").\n\n---\n\n🔹 EJEMPLO INPUT:\n\n\"Desayuno: 2 huevos con espinaca, café negro. Snack: plátano con nueces. Almuerzo: arroz blanco con milanesa. Cena: yogur natural con linaza.\"\n\n🔹 EJEMPLO OUTPUT (resumen abreviado):\n\n{\n  \"resumen_diario\": {\n    \"fecha\": \"2024-05-15\",\n    \"grupos_alimenticios\": {\n      \"Vegetales\": [\"Espinaca (1 taza cocida)\"],\n      \"Lácteos\": [\"Yogur natural (1 taza)\"],\n      \"Frutas\": [\"Plátano (1 unidad)\"],\n      \"Proteínas\": [\"Huevo (2 unidades)\", \"Carne roja (1 porción)\"],\n      \"Suplementos\": [\"Linaza (2 cucharadas)\", \"Nueces (1 puñado)\"],\n      \"Otros\": [\"Arroz blanco (1 taza)\", \"Café negro (1 taza)\"]\n    },\n    \"nutrientes_destacados\": {\n      \"Proteína\": {\"alimentos\": [\"Huevo\", \"Carne roja\", \"Yogur\"], \"total\": \"≈35g\"},\n      \"Omega-3\": {\"alimentos\": [\"Linaza\", \"Nueces\"], \"total\": \"≈4g\"},\n      \"Vitamina D\": {\"alimentos\": [\"Huevo\", \"Yogur\"]},\n      \"Vitamina Magnesio\": {\"alimentos\": [\"Espinaca\", \"Linaza\", \"Nueces\"]},\n      \"Vitamina Colina\": {\"alimentos\": [\"Huevo\"]},\n      \"Vitamina B12 + Complejo B\": {\"alimentos\": [\"Carne roja\", \"Huevo\"]},\n      \"Vitamina Colágeno\": {\"alimentos\": [\"Carne roja\"]},\n      \"Vitamina Zinc\": {\"alimentos\": [\"Carne roja\"]},\n      \"Vitamina Selenio\": {\"alimentos\": [\"Huevo\"]}\n    },\n    \"impacto_funcional\": {\n      \"nivel_energia\": \"media\",\n      \"claridad_mental\": \"algo afectada\",\n      \"saciedad_sin_exceso\": \"sí\",\n      \"observaciones\": \"El arroz con milanesa al mediodía podría causar somnolencia leve por carga glucémica.\"\n    },\n    \"calorias_aproximadas\": {\n      \"total\": \"1250 kcal\",\n      \"desglose\": {\n        \"desayuno\": \"220 kcal\",\n        \"almuerzo\": \"650 kcal\",\n        \"cena\": \"180 kcal\",\n        \"snacks\": \"200 kcal\"\n      },\n      \"balance_objetivo\": \"83% del objetivo diario (1500 kcal)\"\n    },\n    \"educacion_nutricional\": \"Reemplazar arroz por vegetales al mediodía puede mejorar energía y enfoque.\"\n  }\n}\n```"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.8,
      "position": [
        -800,
        3888
      ],
      "id": "48a2dd18-9d2a-400d-b30b-22ac8722af98",
      "name": "IA ALIMENTACION"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=- consumo es {{ $json.output }}. \n- perfil de clinico es: \n\"Freddy: {\n{\n  \"profile\": {\n    \"generated-date\": \"15 mayo 2025\",\n    \"name\": \"Freddy\",\n    \"age\": 32,\n    \"birthdate\": \"22 diciembre 1992\",\n    \"currentState\": \"Generalmente saludable con molestias intermitentes\"\n  },\n  \"chronicConditions\": [\n    {\n      \"condition\": \"Asma leve intermitente\",\n      \"details\": [\n        \"Episodios aproximadamente cada 6 meses\",\n        \"Controlado con salbutamol según necesidad\"\n      ]\n    },\n    {\n      \"condition\": \"Molestias articulares ocasionales\",\n      \"details\": [\n        \"Dolor en cadera aproximadamente cada 2 meses\",\n        \"Inflamación periódica en dedo de mano izquierda\",\n        \"Antecedentes familiares de artritis (madre)\"\n      ]\n    },\n    {\n      \"condition\": \"Trastornos del sueño\",\n      \"details\": [\n        \"Dificultad para despertar regularmente\",\n        \"Episodios de insomnio ocasional\"\n      ]\n    },\n    {\n      \"condition\": \"Dolor testicular intermitente\",\n      \"details\": [\n        \"Molestia ocasional en testículo izquierdo\",\n        \"Sin diagnóstico específico\"\n      ]\n    },\n    {\n      \"condition\": \"Ansiedad leve\",\n      \"details\": [\n        \"Episodios ocasionales\",\n        \"Sin tratamiento farmacológico actual\"\n      ]\n    }\n  ],\n  \"baseMedication\": [\n    {\n      \"medication\": \"Salbutamol (inhalador)\",\n      \"schedule\": [\n        \"Según necesidad (durante crisis asmáticas)\"\n      ],\n      \"notes\": \"Utilizar durante episodios de asma aproximadamente cada 6 meses\"\n    }\n  ],\n  \"recomended supplements to complement the foods\": [\n    {\n      \"name\": \"Vitamina C\",\n      \"dosage\": \"500 mg\",\n      \"time\": \"Con el desayuno\",\n      \"notes\": \"Consumo ocasional actual, recomendado regularizar para apoyo al sistema inmune\"\n    },\n    {\n      \"name\": \"Vitamina B12\",\n      \"dosage\": \"1000 mcg\",\n      \"time\": \"Con el desayuno\",\n      \"notes\": \"Anteriormente consumido para función cognitiva, evaluar reincorporación\"\n    },\n    {\n      \"name\": \"Magnesio\",\n      \"dosage\": \"300 mg\",\n      \"time\": \"Noche, antes de dormir\",\n      \"notes\": \"Potencial apoyo para calidad del sueño y molestias musculoesqueléticas\"\n    },\n    {\n      \"name\": \"Omega-3\",\n      \"dosage\": \"1000 mg\",\n      \"time\": \"Con almuerzo\",\n      \"notes\": \"Apoyo antiinflamatorio para molestias articulares\"\n    }\n  ],\n  \"exercises\": [\n    {\n      \"time\": \"Tardes (5 veces por semana)\",\n      \"activity\": \"Entrenamiento de fuerza (recientemente iniciado)\"\n    },\n    {\n      \"time\": \"Mañanas (recomendado)\",\n      \"activity\": \"Estiramientos suaves enfocados en zona de cadera y espalda baja\"\n    },\n    {\n      \"time\": \"2-3 veces por semana (recomendado)\",\n      \"activity\": \"Ejercicios de bajo impacto como natación o yoga para complementar entrenamiento de fuerza\"\n    }\n  ],\n  \"precautionsAndFollowUp\": {\n    \"articular\": [\n      \"Monitorear dolor de cadera e inflamación en dedo\",\n      \"Evaluar riesgo de artritis considerando antecedentes familiares\",\n      \"Implementar rutina antiinflamatoria natural\"\n    ],\n    \"respiratory\": [\n      \"Mantener inhalador de salbutamol disponible\",\n      \"Monitorear frecuencia y severidad de crisis asmáticas\"\n    ],\n    \"urological\": [\n      \"Evaluar causa de dolor testicular intermitente\",\n      \"Descartar varicocele u otra condición urológica\"\n    ],\n    \"sleep\": [\n      \"Establecer rutina de sueño regular\",\n      \"Técnicas de higiene del sueño para manejar insomnio\",\n      \"Evaluar calidad del sueño y su impacto en energía diurna\"\n    ],\n    \"mental\": [\n      \"Técnicas de manejo de ansiedad como respiración y mindfulness\",\n      \"Monitorear si episodios de ansiedad aumentan en frecuencia o intensidad\"\n    ],\n    \"medicalFollowUp\": [\n      \"Evaluación general con énfasis en sistema musculoesquelético\",\n      \"Valoración urológica para descartar condiciones específicas\",\n      \"Control neumológico para evaluar estado actual del asma\",\n      \"Potencial evaluación neurológica si dificultades de despertar persisten\"\n    ]\n  }\n}\n}\"",
        "options": {
          "systemMessage": "{\n  \"system_prompt\":\n\"*Revisa mi perfil en formato JSON y tambien mi consumo que es un array de datos que cada item del array es equivalente a 1 dia real de consumo.*\n\nEres un nutricionista especializado en metabolismo, enfoque mental y salud integral al estilo de Frank Suárez. Recibirás 7 reportes diarios en formato JSON generados a partir de la alimentación/consumo.\n\nTu misión es entregar un **informe semanal optimizado, corto y accionable**, que ayude a Freddy a:\n- Mantener enfoque mental\n- Comer bien sin pasarse de las 1500 kcal/día\n- Cuidar su metabolismo y motivación\n- Ser una mejor versión de sí mismo cada semana\n\n**Alimentos a considerar:**\n- Pan\n- Avena\n- Tomate\n- Carne para hamburguesa\n- Pollo apanado (300g)\n- Pepino\n- Arroz\n- Fideos\n- Nueces\n- Zanahoria\n- Platano\n\n**Hábitos:**\n- Desayuno energetico + cafe\n- Comida pequeña antes de las 12pm para saciar sin comer mucho\n- Comida principal entre 5-7pm (variada, abundante, alta en proteína)\n- No me interesan las frutas\n- Snacks: nueces, zanahoria cruda y platano\n- Posible intolerancia: consumo alto de carbohidratos (fideos, arroz, pan) causa somnolencia y fatiga\n\n---\nFORMATO DE RESPUESTA:\n*Mira Freddy, en base a tus 7 reportes de esta semana, aquí va tu análisis:*\n\n✔️ *Lo que estás haciendo bien para tu objetivo*:\n- *[x]* Ingresos adecuados de proteína en el desayuno (ej. huevo, yogur).\n- *[x]* Combinaciones tipo plátano + nueces que sostienen energía y saciedad.\n- *[x]* Evitaste harinas al mediodía en la mayoría de los días.\n\n*Cosas que no ayudaron a tu meta de enfoque y control calórico*:\n- Arroz blanco presente en 3 de 7 días → posible bajón energético.\n- Faltaron vegetales verdes (ej. espinaca, acelga) en 5 días.\n- Pocas fuentes de omega-3, colina y magnesio en días clave.\n\n*Qué puedes hacer esta semana para mejorar*:\n- *Agrega* espinaca, acelga o brócoli mínimo 3 veces.\n- *Incluye* huevo o yogur natural en 4 desayunos.\n- *Reemplaza* arroz por calabacín o ensalada cruda 2 días.\n- *Agrega* linaza o sardinas 3 veces por semana.\n- *Mantén* tu horario de comida fuerte en la tarde (¡bien hecho!).\n\nCierre motivacional:\n\\\"Freddy, tu metabolismo responde mejor cuando eliges alimentos que te enfocan sin cansarte. Sigue así. Tu mejor versión te está esperando.\\\"\n\n---\n🔹 INSTRUCCIONES INTERNAS (NO INCLUIR EN LA RESPUESTA):\n- Asegura que la respuesta sea compatible con Telegram.\n- No supongas hábitos que no están en los datos de CONSUMO ya que el perfil podria tener consumo de cosas que realmente no llevan un registro son mas bien contexto sobre la persona.\n- Todo debe estar en tono claro, directo y útil.\n- No uses más de 200 palabras.\n- Ten en cuenta sus alimentos frecuentes y hábitos específicos al hacer recomendaciones.\n- Considera su posible intolerancia a carbohidratos al analizar patrones de consumo.\n}\""
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.8,
      "position": [
        -1424,
        4432
      ],
      "id": "07691b3e-5c73-40d3-9479-96b8a8573789",
      "name": "Nutricionista"
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "months",
              "monthsInterval": 2,
              "triggerAtHour": 7
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -2064,
        3344
      ],
      "id": "d867a82b-1eee-4a82-8569-d17c2f3f9f61",
      "name": "coach ejercicio mensuales",
      "notesInFlow": false,
      "notes": "\n# HORARIO DE REMEDIOS\n\n## Celecoxib\n- 9 PM\n\n## Aspirina\n- 12 PM (medio dia)\n\n## Paracetamol\n- 06:00 am\n- 14:00 pm\n- 22:00 pm\n\n## Amoxicilina\n- 06:00 am\n- 14:00 pm\n- 22:00 pm\n\n## Otros medicamentos\n- 22:00 pm[Losartan] 1 vez antes de dormir\n- 22:00 pm [Puff asma] antes de dormir"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "# SISTEMA: GENERADOR DE PLANES DE EJERCICIO PARA TELEGRAM\n\nEres un entrenador personal especializado en crear planes de ejercicio optimizados para visualización en Telegram, especialmente en dispositivos móviles como iPhone 12 mini.\n\n## DATOS DEL USUARIO\n- Nombre: Freddy Huaylla\n- Peso: 87 kg\n- Estatura: 170 cm\n- IMC: 30.5\n- Condición: Sobrepeso moderado con buena predisposición física\n- Limitaciones: Glúteos grandes que dificultan sentadillas profundas o ejercicios con rebote\n- Experiencia: Karate (infancia), boxeo con saco, ejercicios con peso corporal\n\n## OBJETIVOS\n- Reducir peso y grasa abdominal/papada\n- Aumentar masa muscular y fuerza funcional\n- Mejorar forma de glúteos\n- Adelgazar abdomen, caderas y espalda\n\n## REQUISITOS DE ENTRENAMIENTO\n- Solo peso corporal (sin gimnasio ni máquinas)\n- Preferencia: Fuerza con cardio dinámico \n- Estilo: Inspirado en karate, boxeo y ejercicios funcionales\n- Horario: Tardes después de 6:00pm\n- Duración: 40-50 minutos (máx. 1 hora)\n- Frecuencia: 3-6 días semanales\n\n## FORMATO PARA TELEGRAM\nGenera un plan semanal siguiendo estas reglas EXACTAS de formato:\n\n1. USA EMOJIS COMO MARCADORES VISUALES:\n   🏋️ Para título principal\n   📅 Para estructura semanal\n   💪 Para cada día de entrenamiento\n   🔥 Para precalentamiento\n   ⚡ Para circuito principal\n   🌟 Para finalizador\n   🧠 Para frase motivacional\n   🧘 Para descanso activo\n   📝 Para recomendaciones\n   💡 Para meta general\n\n2. ESTRUCTURA CLARA POR DÍA:\n   - Título del día con emoji y enfoque\n   - Precalentamiento (breve, 5-7 min)\n   - Circuito principal (3-4 rondas)\n   - Ejercicio finalizador\n   - Frase motivacional corta\n\n3. FORMATO DE LÍNEA:\n   - Máximo 40 caracteres por línea\n   - Usar guiones (-) para listas\n   - Evitar columnas, tablas o alineaciones complejas\n   - No usar tabs, solo espacios\n   - Separar secciones principales con \"---\"\n\n4. REGLAS CRÍTICAS PARA TELEGRAM:\n   - Evitar markdown mal cerrado\n   - No usar formato complejo que pueda romperse\n   - Utilizar saltos de línea simples para claridad\n   - No incluir enlaces con formato\n   - Evitar caracteres especiales que puedan causar errores\n\n5. DETALLES DEL PLAN:\n   - 5 días de entrenamiento variado\n   - 1-2 días de descanso activo\n   - Ejercicios adaptados para glúteos grandes\n   - Combinación de fuerza y cardio\n   - Progresión lógica en la semana\n   - Sin mencionar dieta o alimentación",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.8,
      "position": [
        -1840,
        3344
      ],
      "id": "275443d9-010d-4a89-af02-9b87f9b36bae",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "modelName": "models/gemini-1.5-flash-8b-001",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        -1840,
        3520
      ],
      "id": "e60551e2-4db1-4b75-bec7-209901e81b5f",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "FcoyrrBAEstla8p5",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "-4965798372",
        "text": "={{ $json.output }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        -1488,
        3344
      ],
      "id": "ffed0395-91ed-4655-b360-09909f0544a0",
      "name": "Mensaje Telegram1",
      "webhookId": "c7a159c6-2782-4683-b170-9060815d6b01",
      "alwaysOutputData": false,
      "retryOnFail": true,
      "waitBetweenTries": 2000,
      "credentials": {
        "telegramApi": {
          "id": "CBOywzpBdmg2u1Nn",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.1,
      "position": [
        -2096,
        3888
      ],
      "id": "89f365a1-37a4-4ba4-b27f-f6743d7f14cc",
      "name": "Agrega Consumo diario",
      "webhookId": "f588ff9d-fe1f-43d4-b2bc-335ca6ba07da",
      "credentials": {
        "telegramApi": {
          "id": "CBOywzpBdmg2u1Nn",
          "name": "Telegram account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "If": {
      "main": [
        [
          {
            "node": "Date & Time2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Groq Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "IA ALIMENTACION",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "valida es consumo": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Drive1": {
      "main": [
        [
          {
            "node": "Google Drive2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Date & Time2": {
      "main": [
        [
          {
            "node": "Date & Time3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Date & Time3": {
      "main": [
        [
          {
            "node": "formatted data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Drive2": {
      "main": [
        [
          {
            "node": "IA ALIMENTACION",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "formatted data": {
      "main": [
        [
          {
            "node": "Google Drive1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Drive5": {
      "main": [
        [
          {
            "node": "Archivo Agregado",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Drive": {
      "main": [
        [
          {
            "node": "Google Drive6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Drive6": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code": {
      "main": [
        [
          {
            "node": "Nutricionista",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "nutricionista semanal": {
      "main": [
        [
          {
            "node": "Google Drive",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mensaje Telegram": {
      "main": [
        []
      ]
    },
    "Loop Over Items": {
      "main": [
        [
          {
            "node": "Mensaje Telegram",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Code1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code1": {
      "main": [
        [
          {
            "node": "Limpiar archivos semanales",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Groq Chat Model4": {
      "ai_languageModel": [
        [
          {
            "node": "Nutricionista",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Limpiar archivos semanales": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IA ALIMENTACION": {
      "main": [
        [
          {
            "node": "Google Drive5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Nutricionista": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "coach ejercicio mensuales": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Mensaje Telegram1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Agrega Consumo diario": {
      "main": [
        [
          {
            "node": "valida es consumo",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "faf212f4-2296-421f-891f-34ce87a6647e",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "3f55899d61e9f0757f5fd34228c134c51356103eb4b39eee4e2a1670e5072098"
  },
  "id": "aaui7UqllDDFC3FO",
  "tags": []
}