flows/notificaciones/notifica-medicinashorarios.json
{
  "nodes": [
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [640, 320],
      "id": "a1918dbf-01b2-4b30-8def-c14cdfa5b9d6",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGroq",
      "typeVersion": 1,
      "position": [512, 320],
      "id": "c2f25cf2-f083-4b48-9da4-16983997f22a",
      "name": "Groq Chat Model3",
      "credentials": {
        "groqApi": {
          "id": "DnjpAnK4OE2YxV5M",
          "name": "Groq account"
        }
      }
    },
    {
      "parameters": {
        "operation": "formatDate",
        "date": "={{ $json.timestamp }}",
        "format": "custom",
        "customFormat": "HH:mm",
        "outputFieldName": "readbleTimeFound",
        "options": {
          "timezone": true
        }
      },
      "type": "n8n-nodes-base.dateTime",
      "typeVersion": 2,
      "position": [192, 144],
      "id": "362bd4a9-3ace-4035-9034-3a700f27e487",
      "name": "Date & Time"
    },
    {
      "parameters": {
        "amount": 3
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [320, 144],
      "id": "f9728502-d5f3-4619-ae8d-f20f095bcac3",
      "name": "Wait",
      "webhookId": "55a28286-fc1d-4e4c-abdc-6aa8b4eb3cd3"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=revisa si la hora: \"{{ $json.readbleTimeFound }}\" y si corresponde a alguna accion y notifica si corresponde una de estas opciones",
        "options": {
          "systemMessage": "=Eres un asistente de salud que ayuda a recordar medicamentos y comidas y mas según el horario programado. Según la hora actual que te indique el usuario, debes responder con un mensaje corto y directo que le recuerde qué debe hacer en ese momento (tomar medicamento o comer , etc).\n\n# 🏥 Asistente de Salud - Algoritmo Multitarea\n\n**Instrucción Primaria:**  \nAl recibir un timestamp ISO-8601:  \n1. Extraer `HH:MM` (ignorar segundos/milisegundos)  \n2. Identificar **TODAS** las coincidencias exactas en la matriz  \n3. Si hay matches → Responder en formato lista compacta:  \n   `⏰ [HORA_EN_12H]` + `[ICONO] [ACCIÓN]` (una por línea)  \n4. Si no hay matches → Indica no se encontro accion relacionada a esta hora ⏰ [HORA_EN_12H]\n5. al hacer el desayuno elige de forma random un grupo de frutas con las que se mezclaran ya que siempre sera yoghurt+semilla  \n- frutas: platano,manzana verde,arandano, frutilla, sabila\n- fruto seco: coco, almendra,pasas,\n- semilla rapida: chia, linaza,\n- semilla lenta:  ajonjoli remojo de 1 dia (lava 2 veces, se cuela y se puede batir recien)\n\n# Horario\n| Hora  | Icono | Acción | Categoría | Anuncio Google Nest | Notas Especiales |\n|-------|-------|--------|-----------|---------------------|------------------|\n| 06:00 | 💊 | **Paracetamol + Losartán**                                             |Medicamento|✅|Con vaso de agua completo |\n| 06:30 | 🌅 | **Exposición luz Artificial + Ventilación**                           |Terapia    |❌|Tú la acompañas 15 min |\n| 07:30 | 🍳 | **Desayuno proteico:** yogurt + avena + naranja + nueces + **1 huevo** |Comida     |✅|Previene anemia |\n| 08:00 | 💊 | **CEFADROXILO + Inhalador** (Fluticasona + Salmeterol)                |Medicamento|✅|ANTIBIÓTICO - Después del desayuno |\n| 08:30 | ❤️🩹 | **Vitamina C** (500mg)                                               |Complemento|✅| |\n| 09:00 | 💊 | **CELECOXIB**                                                          |Medicamento|✅|ANTIINFLAMATORIO |\n| 09:30 | 🧠 | **Actividad mental:** lectura/puzzle/documentales                      |Mental     |✅|Previene deterioro cognitivo |\n| 10:30 | 🏋️ | **Ejercicios espalda + respiración profunda**                          |Movimiento |✅|Tú supervises técnica |\n| 12:00 | 🥗 | **Almuerzo rico en hierro:** lentejas/espinacas/carne magra + verduras |Comida     |✅|Rotación semanal anti-anemia |\n| 12:30 | ❤️🩹 | **Vitamina D3** (2000 UI) + **Calcio** + **Hierro** (días alternos)  |Complemento|✅|Hierro solo Lu-Mi-Vi |\n| 14:00 | 💊 | **Paracetamol** (solo si hay dolor)                                    |Medicamento|✅|Evaluar necesidad real |\n| 15:00 | 🌬️ | **Ventilación + Matico + hidratación**                                 |Ambiente   |❌|Tú controlas ambiente |\n| 15:00 | 😴 | **SIESTA CONTROLADA** (máx 45 min)                                     |Descanso   |✅|Alarma obligatoria |\n| 16:00 | 💊 | **CEFADROXILO + Ejercicios brazos/hombros + circulación piernas**     |Medicamento/Movimiento|✅|ANTIBIÓTICO + Incluir masaje en pierna sana |\n| 17:00 | 🍵 | **Té de hierbas** (manzanilla/boldo)                                   |Hidratación|✅| |\n| 17:30 | 🚫 | **No tomar mucho líquido**                                             |Hidratación|✅|Solo sorbos necesarios |\n| 18:30 | 🍲 | **Cena balanceada:** quinoa/pescado + verduras + fruta                 |Comida     |✅|Rica en omega-3 |\n| 19:00 | 🧠 | **Estimulación sensorial:** música suave                               |Mental     |✅|Relajación pre-nocturna |\n| 20:00 | 📺 | **Tiempo social:** TV/conversación familia                             |Social     |❌|Conexión emocional |\n| 21:00 | 💊 | **CELECOXIB + control presión arterial**                               |Medicamento|✅|ANTIINFLAMATORIO + Registrar medición |\n| 21:30 | 🛁 | **Higiene nocturna + masaje relajante**                                |Cuidado    |❌|Tú asistes |\n| 22:00 | 💊 | **Paracetamol** (solo si necesario)                                    |Medicamento|✅| |\n| 22:30 | 🌙 | **PREPARACIÓN SUEÑO:** ambiente oscuro + silencioso                    |Descanso   |✅| |\n| 00:00 | 💊 | **CEFADROXILO**                                                        |Medicamento|✅|ANTIBIÓTICO - Medianoche |\n\n\n**Ejecución Perfecta:**  \n▸ **Input:** `2025-04-26T12:00:00.000-04:00`  \n**Output:**  \n⏰ 12:00 PM\n🥗 Almuerzo\n💊 Aspirina\n\n\n▸ **Input:** `2025-04-26T16:00:00.000-04:00`  \n**Output:**  \n`⏰ 4:00 PM  \n🤸 Rutina hombros/brazos/manos`  \n\n▸ **Input:** `2025-04-26T13:30:00.000-04:00`  \n**Output:** *(Indica no se encontro accion relacionada a esta hora 13:30pm)*  \n\n**Claves del Diseño:**  \n1. **Estructura jerárquica**: Hora como título + items indentados  \n2. **Iconos categóricos**: Visualización instantánea del tipo de actividad  \n3. **Escalabilidad**: Funciona igual para 1, 2 o N eventos simultáneos  \n4. **Precisión milimétrica**: Sólo activa en matches exactos (`HH:MM`)  \n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.8,
      "position": [512, 144],
      "id": "1b1ee222-d712-4740-bc2e-43c6b6a43255",
      "name": "Bot recuperacion"
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes",
              "minutesInterval": 30
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [0, 144],
      "id": "a64cdf63-23d2-4fdc-a74a-a6ad3bf49f04",
      "name": "revisar horario cada 30m"
    },
    {
      "parameters": {
        "chatId": "-1002571880704",
        "text": "={{ $json.output }} ",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [800, 144],
      "id": "409cab25-17fe-4c27-8add-aeb67cc6e17b",
      "name": "Telegram1",
      "webhookId": "24a6e3e0-c259-49b2-a0da-82db3f9a3bd3",
      "credentials": {
        "telegramApi": {
          "id": "CBOywzpBdmg2u1Nn",
          "name": "Telegram account"
        }
      }
    }
  ],
  "connections": {
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "Bot recuperacion",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Groq Chat Model3": {
      "ai_languageModel": [
        [
          {
            "node": "Bot recuperacion",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Date & Time": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "Bot recuperacion",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Bot recuperacion": {
      "main": [
        [
          {
            "node": "Telegram1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "revisar horario cada 30m": {
      "main": [
        [
          {
            "node": "Date & Time",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "meta": {
    "instanceId": "3f55899d61e9f0757f5fd34228c134c51356103eb4b39eee4e2a1670e5072098"
  }
}
